@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6 {}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #80C4E9;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF7F3E;
}
 

 