@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain !important;
}

.lenis.lenis-stopped {
  overflow: hidden !important;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg,
      rgb(0, 255, 255),
      /* Cyan */
      rgb(255, 0, 255),
      /* Magenta */
      rgb(255, 255, 0),
      /* Yellow */
      rgb(0, 0, 0)
      /* Black */
    );
}